$color-1: #2ecc71;
$color-2: #3498db;
$color-3: #f1c40f;
$color-4: #e74c3c;

.get {
  display:flex;
  flex-direction: column;
  align-items: center;
  &__descr {
    font-family: arial;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 45px;
    display: block;
    text-align: center;
  }
  &__form {
    background-color: white;
    border-radius: 10px;
    width: 400px;
    height: 45px;
    font-size: 40px;
    font-family: arial;
  }
  &__important {
      margin: 30px 0;
      font-size: 15px;
      font-family: Arial, Helvetica, sans-serif;
      text-transform: uppercase;
      color: red($color: #000000);
      font-weight: 600;
  }
  &__btn {
    height: 50px;
    width: 180px;
    border-radius: 10px;
    border: 0px;
    margin: 10px;
  }
}

.radioBtn{
  &__I{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 44px;
    background-color: red;
  }
  &__N{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 44px;
    background-color: blue;
  }
}

.wrapperRow {
  display: flex;
  align-items: center;
  &Small{
    justify-content: space-between;
    width: 500px;
    display: flex;
    align-items: center;
  }
}

.DeleteBtn{
  width: 100px;
  height: 45px;
  border-radius: 10px;
  border: 0;
}
.task__wrapper{
  width: 400px;
  display: flex;
  justify-content: space-between;
  font-family: arial;
  font-weight: 400;
  padding: 10px;
}
.red {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.none {
  display: none;
}